// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasklist {
	padding-top: 2em !important;
}

.details {
	margin-top: 2em !important;
}

.task.todo {
	background-color: lightyellow !important;
}

.task.done {
	background-color:  lightgreen !important;
}

.task.done label {
	text-decoration: line-through;
}

.description {
	color:grey;
	font-style: italic;
}

#editor .segment {
	background: lavender !important;
}