// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	padding-top: 2em !important;
}

.tasklist {
	padding-top: 2em !important;
}

.details {
	margin-top: 2em !important;
}

.todo label {
	padding-left: 0.5em;
}

.done label{
	padding-left: 0.5em;
	text-decoration: line-through;
}

.description {
	color:grey;
	font-style: italic;
}

.cards {
	padding: 1em 1em;
}

.editor {
	padding-top: 10em !important;
}